<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @birthday.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @birthday.fecha %>
</p>

<%= link_to 'Edit', edit_birthday_path(@birthday) %> |
<%= link_to 'Back', birthdays_path %>
